export ADDR=":8080"
export DB_ADDR="postgres://admin:adminpassword@localhost/social?sslmode=disable"
export APP_MODE="development"
export APP_VERSION="0.0.1"
export DB_MAX_OPEN_CONNS=30
export DB_MAX_IDLE_CONNS=30
export DB_MAX_IDLE_TIME="15m"